<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <button type="button" id="joinuser">회원가입</button>
<!--    <form th:if="${not #maps.isEmpty( params )}" name="dataForm" th:action="${redirectUri}" th:method="${method}" style="display: none;">-->
<!--        <input th:each="key, status : ${params.keySet()}" type="hidden" th:name="${key}" th:value="${params.get(key)}" />-->
<!--    </form>-->
    <th:block layout:fragment="script">
        <script th:inline="javascript">
                $(function(){
                        var message = [[ ${message} ]];
                        if (message!=null && message != "") {
                            alert(message);
                        }

                        var params = [[ ${params} ]];
                        if (params != null && params != "") {
                            document.dataForm.submit();
                        } else {
                            var redirectUri = [[ ${redirectUri} ]];
                            location.href = redirectUri;
                        }
                 });
                </script>
        </th:block>
</body>
</html>